header {
    background-color: rgba(0, 0, 128, 0.918);
    color: white;
    /* height: 200px; */
}

header a {
    color: white;
    text-decoration: none;
}

.welcome-top {
    font-size: 12px;
}

.inline-divider {
    color: #999;
}

.header-btn {
    padding: 10px;
    border-radius: 3px;
    background-color: #ff3c20;
    border: none;
    color: white;
}

.shopping-bag {
    background-color: #ff3c20;
    border-radius: 50%;
    padding: 10px
}

.col-2-5 {
    flex: 0 0 auto;
    width: 20.83333333%;
}

.col-5-5 {
    flex: 0 0 auto;
    width: 45.83333333%;
}

.col-9-5 {
    flex: 0 0 auto;
    width: 79.16666667%;
}